<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap" rel="stylesheet">

    <title>Badanie</title>
</head>
<body>
    <div class="container">
        <div class="div_1">
            <h3 class="introduction">Poniżej znajduje się lista pytań dotyczących osobistych doświadczeń Twojego rozmówcy. 
                Zadaj pytania w wybranej przez siebie kolejności i przeczytaj uważnie odpowiedzi, które się pojawią. 
                Po zakończeniu zadawania pytań lub upływie 15 minut pojawi się link do dalszej części badania, w której poprosimy Cię o odpowiedzenie na kilka pytań dotyczących interakcji.
                Wybierz pytanie z poniższej listy:</h3>
            <ul>
                {% for question in questions %}
                    <li>
                        <a href="/conv{{ questions_all.index(question) }}">
                            <button class="question" onclick="showHideButton(this)">{{ question }}</button>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="div_2">
            <h1 id="timer" class="timer">{{ remaining_time[0] }}:{{ remaining_time[1] }}</h1>
            <img src='https://ibb.co/YZwMXk8' alt="avatar" class="avatar"/>
            <h1 class="name">Alicja</h1>
            <a href="/leave"><button id="leaveButton" class="leavebutton">Przejdź dalej</button></a>

        </div>
    </div>
    <script>

        const leaveButton = document.getElementById('leaveButton');

        function hideButton(button) {
            button.style.display = 'none';
            calculateVisibleQuestions()
        }

        const calculateVisibleQuestions = () => {
        const questionElements = document.querySelectorAll('.question');
        const visibleQuestions = Array.from(questionElements).filter(question => question.style.display !== 'none');

        const numberOfVisibleQuestions = visibleQuestions.length;
        return numberOfVisibleQuestions}

        showButton()
        function showButton() {
        if (calculateVisibleQuestions() < 4) {
        leaveButton.style.display = 'block';
        } else {
        leaveButton.style.display = 'none';
        }}

        function showHideButton(button) {
            setTimeout(() => {
            hideButton(button);
            showButton();
            }, 50);
        }

        var remainingMinutes = {{ remaining_time[0] }};
        var remainingSeconds = {{ remaining_time[1] }};

        function countdown() {
            var timerElement = document.getElementById("timer");

            timerElement.textContent = remainingMinutes.toString().padStart(2, '0') + ':' + remainingSeconds.toString().padStart(2, '0');

            if (remainingSeconds > 0) {
                remainingSeconds--;
            } else if (remainingMinutes > 0) {
                remainingMinutes--;
                remainingSeconds = 59;
            } else {
                timerElement.textContent = "00:00";
                window.location.href = '/leave';
                return;
            }

            setTimeout(countdown, 1000);
        }

        countdown();
    </script>
</body>
</html>
